/* mobile va tablet */
@media (max-width:1023px)
{
    *{
        -webkit-tap-highlight-color: transparent;
    }
    .home-product-item__sale-off{
        height: 50px;
    }
    .footer__heading,.footer-item__link, .footer__list{
       text-align: center;
       display: block;
    }
    .footer__download{
        justify-content: center;
    }
    :root {
        --header-height:68px;
        --header__navbar-height:0px;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header{
        position: fixed;
        z-index: 10;
       right: 0;
       left: 0;
        top: 0;
    }
    .header__search-option {
        z-index: 2;
    }
    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: 0;
        padding: 0 calc( (100% - 644px)/2 );
    }
    .header__cart-list::after{
        display: none;
    }
    .app__containor{
        margin-top: calc( var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar{
        display: flex;
    }
}
/* tablet */
@media(min-width:740px) and (max-width:1023px)
{
 .hide-on-tablet{
     display: none;
 }
 .header__cart-notice{
    right: 38px;
 }
 .footer__download-app_img {
    height: 18px;
}
.footer__download-app {
    margin-left: 5px;
}
}
/* mobile */
@media(max-width:739px)
{
    .header__cart-notice{
        right: -37%;
        padding: 0px 5px;
        font-size: 1rem;
    }
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header__logo{
        width: unset;
    }
    .header__cart{
        width: unset;
        padding:0 12px;
    }
    .header__search{
        position: fixed;
        top: calc(var(--header-height) );
        left: 0;
        right: 0;
        z-index: 3;
        box-shadow: 0 1px 3px rgba(0,0,0,0.05);
        padding: 0 16px;
        animation:mobileSearchSlideIn linear 0.3s ;
        display: none;
    }
    
    @keyframes  mobileSearchSlideIn{
        from{
            top:calc(var(--header-height) /2);
            opacity: 0;
        }
        to{
            top:var(--header-height) ;
            opacity: 1;
        }
    }
    .header__search-history,
    .header__search-option{
        width: 100%;
    }
    .header__mobile-search{
        display: block;
    }
    .pagination-item{
        margin: 0;
    }
    .app__content {
        padding: 9px;
    }
    .footer{
        padding: 36px 16px 0;
    }
    .footer__list{
        margin-top: 5px;
    }
}